@media screen and (max-width: 1500px){
	.countdown-box .number{
		font-size: 120px;
	}

	.coming-soon-content h2{
		font-size: 48px;
	}

	.coming-soon-content p{
		font-size: 18px;
	}

	.countdown-box span{
		font-size: 15px;
	}

	.s-title{
		margin-bottom: 35px;
	}

	.s-title h2 {
	    font-size: 36px;
	    margin-bottom: .3em;
	}

	.s-title p {
	    max-width: none;
	    font-size: 15px;
	}

	.service-item .item-icon svg {
	    width: 60px;
	}

	.service-item .item-title {
	    font-size: 16px;
	}

	.service-item p {
	    font-size: 13px;
	}

	.polygon-1,
	.polygon-2,
	.polygon-3{
		width: 60px;
		height: 60px;
	}

	.triangle-1,
	.triangle-2,
	.triangle-3,
	.triangle-4{
		width: 40px;
		height: 40px;
	}

	.star-1,
	.star-2,
	.star-3,
	.circle-o-1,
	.circle-o-2,
	.circle-o-3{
		width: 55px;
		height: 55px;
	}

	.line-1,
	.line-2,
	.line-3,
	.line-4{
		width: 65px;
		height: 50px;
	}

	.blog-post .post-meta span, 
	.blog-post .post-meta span a {
	    font-size: 13px;
	}

	.blog-post .post-title, 
	.blog-post .post-title a {
	    font-size: 14px;
	}

	.blog-post .post-meta .meta-like {
	    width: 48px;
	    height: 48px;
	}

	.blog-post .post-meta .meta-like a{
		font-size: 15px;
	}

	.contact-form .form-group{
		margin-bottom: 20px;
	}

	.contact-form .form-control{
		padding: .7em 0;
	}
}

@media screen and (max-width: 991.98px){
	.page-wrapper{
		height: auto;
	}

	.px-wrapper{
		display: none;
	}

	.main-content{
		position: relative;
		padding-top: 110px;
		padding-bottom: 60px;
	}

	.toggle-section{
		position: relative;
		top: 0;
		left: 0;
		display: none;
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	.toggle-section.show{
		display: block;
	}

	.copyright{
		font-size: 14px;
	}

	.social-profile li a{
		margin: 0 0 0 1.5em;
	}

	.countdown-area .row .col{
		width: auto;
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;	
	}

	.coming-soon-content{
		text-align: center;
	}

	.countdown-area .row .col:first-child{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}

	.newsletter{
		width: 570px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.footer{
		position: relative;
	}

	.page-wrapper{
		display: block;
	}

	.navbar-expand-lg>.container, 
	.navbar-expand-lg>.container-fluid{
		padding-left: 25px;
		padding-right: 25px;
	}

	nav.navbar{
		background: linear-gradient(to bottom, #4082f9 0%,#1e67f0 100%);
		padding-top: 10px;
	}

	.navbar-nav li a{
		font-size: 18px;
		text-align: center;
	}

	.service-item{
		margin-bottom: 30px;
		height: auto;
	}

	.blog-post{
		margin-bottom: 30px;
	}

	.navbar-nav li{
		margin-left: 0;
	}

	.navbar-nav{
		padding-top: 10px;
		padding-bottom: 5px;
	}
}

@media screen and (max-width: 767.98px){
	.f-col{
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    text-align: center;
	}

	.footer{
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 575.98px){
	.countdown-box .number{
		font-size: 80px;
	}

	.coming-soon-content h2{
		font-size: 28px;
	}

	.coming-soon-content p{
		font-size: 15px;
	}

	.countdown-box span{
		font-size: 12px;
	}

	.newsletter .btn{
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	
	.container,
	.navbar-expand-lg>.container, 
	.navbar-expand-lg>.container-fluid{
		padding-left: 15px;
		padding-right: 15px;
	}

	.newsletter .btn,
	.newsletter .form-control{
		font-size: 14px;
	}
}